@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;700&display=swap');

$fontYantramanav: 'Yantramanav', sans-serif;
$bodycolor: #f5f5f5;
$chocolatecolor: rgb(37, 58, 47);
$secondarycolor: rgba(233, 233, 226, 0.62);
$headercolor: rgb(22, 38, 26);
$hamburguercolor: rgba(233, 233, 226, 0.90);